body {
	background-color: #3B3039;
}

html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: grey;
	border-radius: 10px;
}

#myBtn {
	display: flex;
	height: 70px;
	width: 70px;
	position: fixed;
	bottom: 7%;
	right: 4%;
	z-index: 99;
	border: none;
	box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.50);
	outline: none;
	background-color: #3B3039;
	color: #bf2766;
	cursor: pointer;
	padding: 15px;
	border-radius: 50%;
	font-size: 30px;
	text-align: center;
}
  
#myBtn:hover {
	color: #e79570;
	background-color: #614c69;
}

.Header, .Header-effect {
	display: flex;
	flex-wrap:wrap;
	z-index: 1;
	background-color:#3B3039;
	opacity:1;
	width:100%;
	height:194px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.Header-effect { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Logo { 
	display: flex;
	opacity:1;
	width:170px;
	height:170px;
	position:absolute;
	left:3%;
	top:3%;
	border-top-left-radius:160px;
	border-top-right-radius:160px;
	border-bottom-left-radius:160px;
	border-bottom-right-radius:160px;
	background-image:url(../images/logo.png);
	background-repeat:no-repeat;
	background-size:cover;
	z-index: 1;
}

.About-link, .Works-link, .Contact-link {
	top:79px;
	font-family: 'Charm', cursive;
	text-align:center;
	font-size:45px;
	letter-spacing:0;
	line-height:undefined;
	height:35px;
	position: absolute;
	color:#E79570;
	opacity:1;
	z-index: 1;
	width: 160px;
	text-decoration: none;
}

.About-link {
	left: 60%;
	flex: 1;
	order: 1;
}

.Works-link {
	left: 74%;
	flex: 2;
	order: 2;
}

.Contact-link {
	left: 87%;
	flex: 3;
	order: 3;
}

.Works-Desc { 
	background-color:#3B3039;
	opacity:1;
	width: 100%;
	height:6840.5px;
	position:absolute;
	left:0px;
	top:265px;
}

.Theme-Photo { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:1275px;
	height:230px;
	position:absolute;
	left: 110px;
	top:0px;
}

.Work-1, .Work-2, .Work-3, .Work-4, .Work-5, .Work-6, .Work-7, .Work-8, .Work-9, .Work-10, .Work-11, .Work-12, .Work-13,
.Work-14, .Work-15, .Work-16, .Work-17, .Work-18, .Work-19, .Work-20, .Work-21, .Work-22, .Work-23, .Work-24, .Work-25,
.Work-26, .Work-27, .Work-28, .Work-29, .Work-30, .Work-31, .Work-32, .Work-33, .Work-34, .Work-35, .Work-36, .Work-37,
.Work-38 { 
	opacity:1;
	width:350px;
	height:437.5px;
	position:absolute;
}

.Work-1:hover, .Work-2:hover, .Work-3:hover, .Work-4:hover, .Work-5:hover, .Work-6:hover, .Work-7:hover, .Work-8:hover,
.Work-9:hover, .Work-10:hover, .Work-11:hover, .Work-12:hover, .Work-13:hover, .Work-14:hover, .Work-15:hover,
.Work-16:hover, .Work-17:hover, .Work-18:hover, .Work-19:hover, .Work-20:hover, .Work-21:hover, .Work-22:hover,
.Work-23:hover, .Work-24:hover, .Work-25:hover, .Work-26:hover, .Work-27:hover, .Work-28:hover, .Work-29:hover,
.Work-30:hover, .Work-31:hover, .Work-32:hover, .Work-33:hover, .Work-34:hover, .Work-35:hover, .Work-36:hover,
.Work-37:hover, .Work-38:hover {
	box-shadow: rgba(0, 0, 0, 0.5) 0px 19px 43px;
  	transform: translate3d(0px, -7px, -7px);
}

.Work-1, .Work-4, .Work-7, .Work-10, .Work-13, .Work-16, .Work-19, .Work-22, .Work-25, .Work-28, .Work-31, .Work-34,
.Work-37 {
	margin-left: 110px;
}

.Work-2, .Work-5, .Work-8, .Work-11, .Work-14, .Work-17, .Work-20, .Work-23, .Work-26, .Work-29, .Work-32, .Work-35,
.Work-38 {
	margin-left:574px;
}

.Work-3, .Work-6, .Work-9, .Work-12, .Work-15, .Work-18, .Work-21, .Work-24, .Work-27, .Work-30, .Work-33, .Work-36 {
	margin-left:1036px;
}

.Work-1, .Work-2, .Work-3 {
	top:301px;
}

.Work-4, .Work-5, .Work-6 {
	top:809.5px;
}

.Work-7, .Work-8, .Work-9 {
	top: 1318px;
}

.Work-10, .Work-11, .Work-12 {
	top: 1826.5px;
}

.Work-13, .Work-14, .Work-15 {
	top: 2335px;
}

.Work-16, .Work-17, .Work-18 {
	top:2843.5px;
}

.Work-19, .Work-20, .Work-21 {
	top:3352px;
}

.Work-22, .Work-23, .Work-24 {
	top: 3860.5px;
}

.Work-25, .Work-26, .Work-27 {
	top: 4369px;
}

.Work-28, .Work-29, .Work-30 {
	top: 4877.5px;
}

.Work-31, .Work-32, .Work-33 {
	top: 5386px;
}

.Work-34, .Work-35, .Work-36 {
	top: 5894.5px;
}

.Work-37, .Work-38 {
	top: 6403px;
}

.Work1-Photo, .Work2-Photo, .Work3-Photo, .Work4-Photo, .Work5-Photo, .Work6-Photo, .Work7-Photo, .Work8-Photo,
.Work9-Photo, .Work10-Photo, .Work11-Photo, .Work12-Photo, .Work13-Photo, .Work14-Photo, .Work15-Photo, .Work16-Photo,
.Work17-Photo, .Work18-Photo, .Work19-Photo, .Work20-Photo, .Work21-Photo, .Work22-Photo, .Work23-Photo, .Work24-Photo,
.Work25-Photo, .Work26-Photo, .Work27-Photo, .Work28-Photo, .Work29-Photo, .Work30-Photo, .Work31-Photo, .Work32-Photo,
.Work33-Photo, .Work34-Photo, .Work35-Photo, .Work36-Photo, .Work37-Photo, .Work38-Photo { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:350px;
	height:437.5px;
	position:absolute;
	left:0px;
	top:0px;
}

.Break-1 { 
	transform: rotate(2.4848083448933725e-17deg);
	opacity:1;
	border-top:5px solid rgba(191.00000381469727, 39.00000147521496, 102.00000151991844, 1);
	width:60%;
	height:0px;
	position:absolute;
	left:20%;
	top:7160px;
}

.Contact { 
	opacity:1;
	width:100%;
	height:512px;
	position:absolute;
	left:0px;
	top:7231px;
	display: flex;
}

.Contact-Title { 
	color:rgba(231.00000143051147, 149.00000631809235, 112.000000923872, 1);
	opacity:1;
	width:187px;
	height:59px;
	position:absolute;
	left:40px;
	top:20px;
	font-family: 'Flavors', cursive;
	text-align:center;
	font-size:50px;
	letter-spacing:0;
	line-height:undefined;
}

.Facebook-Logo { 
	opacity:1;
	width: 84px;
	height: 70px;
	position:absolute;
	left:40px;
	top:131px;
	background-image: url(../images/facebook-logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.Instagram-Logo { 
	opacity:1;
	width: 70px;
	height: 70px;
	position:absolute;
	left:227px;
	top:131px;
	background-image: url(../images/instagram-logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.Gmail-Logo { 
	opacity:1;
	width: 100px;
	height: 70px;
	position:absolute;
	left:414px;
	top:131px;
	background-image: url(../images/gmail-logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.Dead-End { 
	background-color:rgba(0, 0, 0, 0.550000011920929);
	opacity:1;
	width:100%;
	height: 100px;
	position:absolute;
	left:0px;
	top:7814px;
}

@media (min-width: 2560px) {

	#myLinks {
		display: none;
	}

	#myBtn {
		height: 120px;
		width: 120px;
		font-size: 60px;
	}

	.Header, .Header-effect {
		height: 250px;
	}

	.Logo {
		height: 210px;
		width: 210px;
		top: 6%;
	}

	.About-link, .Works-link, .Contact-link {
		top: 100px;
		font-size: 55px;
	}

	.Works-Desc {
		top: 400px;
	}

	.Theme-Photo {
		width: 80%;
		height: 250px;
		left: 256px;
	}

	.Work-1, .Work-2, .Work-3, .Work-4, .Work-5, .Work-6, .Work-7, .Work-8, .Work-9, .Work-10, .Work-11, .Work-12, .Work-13, .Work-14,
	.Work-15, .Work-16, .Work-17, .Work-18, .Work-19, .Work-20, .Work-21, .Work-22, .Work-23, .Work-24, .Work-25, .Work-26, .Work-27, .Work-28,
	.Work-29, .Work-30, .Work-31, .Work-32, .Work-33, .Work-34, .Work-35, .Work-36, .Work-37, .Work-38, .Work1-Photo, .Work2-Photo, .Work3-Photo,
	.Work4-Photo, .Work5-Photo, .Work6-Photo, .Work7-Photo, .Work8-Photo, .Work9-Photo, .Work10-Photo, .Work11-Photo, .Work12-Photo, .Work13-Photo,
	.Work14-Photo, .Work15-Photo, .Work16-Photo, .Work17-Photo, .Work18-Photo, .Work19-Photo, .Work20-Photo, .Work21-Photo, .Work22-Photo,
	.Work23-Photo, .Work24-Photo, .Work25-Photo, .Work26-Photo, .Work27-Photo, .Work28-Photo, .Work29-Photo, .Work30-Photo, .Work31-Photo,
	.Work32-Photo, .Work33-Photo, .Work34-Photo, .Work35-Photo, .Work36-Photo, .Work37-Photo, .Work38-Photo {
		width: 450px;
		height: 562.5px;
	}

	.Work-1, .Work-5, .Work-9, .Work-13, .Work-17, .Work-21, .Work-25, .Work-29, .Work-33, .Work-37	{
		margin-left: 256px;
	}

	.Work-2, .Work-6, .Work-10, .Work-14, .Work-18, .Work-22, .Work-26, .Work-30, .Work-34, .Work-38 {
		margin-left: 820px;
	}

	.Work-3, .Work-7, .Work-11, .Work-15, .Work-19, .Work-23, .Work-27, .Work-31, .Work-35 {
		margin-left: 1334px;
	}

	.Work-4, .Work-8, .Work-12, .Work-16, .Work-20, .Work-24, .Work-28, .Work-32, .Work-36 {
		margin-left: 1848px;
	}

	.Work-1, .Work-2, .Work-3, .Work-4 {
		top: 400px;
	}

	.Work-5, .Work-6, .Work-7, .Work-8 {
		top: 1113px;
	}

	.Work-9, .Work-10, .Work-11, .Work-12 {
		top: 1826px;
	}

	.Work-13, .Work-14, .Work-15, .Work-16 {
		top: 2539px;
	}

	.Work-17, .Work-18, .Work-19, .Work-20 {
		top: 3252px;
	}

	.Work-21, .Work-22, .Work-23, .Work-24 {
		top: 3965px;
	}

	.Work-25, .Work-26, .Work-27, .Work-28 {
		top: 4678px;
	}

	.Work-29, .Work-30, .Work-31, .Work-32 {
		top: 5391px;
	}

	.Work-33, .Work-34 , .Work-35, .Work-36 {
		top: 6104px;
	}

	.Work-37, .Work-38 {
		top: 6817px;
	}

	.Break-1 {
		top: 7904px;
	}

	.Contact {
		top: 8024px;
	}

	.Dead-End {
		top: 8417px;
	}
}

@media (min-width: 1024px) and (max-width: 1439px) {

	#myLinks {
		display: none;
	}

	#myBtn {
		height: 60px;
		width: 60px;
		font-size: 30px;
	}

	.Header, .Header-effect {
		height: 200px;
	}

	.Logo {
		height: 150px;
		width: 150px;
		top: 13%;
	}

	.About-link, .Works-link, .Contact-link {
		top: 80px;
		font-size: 40px;
	}

	.About-link {
		left: 56%;
	}

	.Works-link {
		left: 70%;
	}

	.Contact-link {
		left: 84%;
	}

	.Works-Desc {
		top: 300px;
	}

	.Theme-Photo {
		width: 80%;
		height: 150px;
		left: 100px;
	}

	.Work-1, .Work-2, .Work-3, .Work-4, .Work-5, .Work-6, .Work-7, .Work-8, .Work-9, .Work-10, .Work-11, .Work-12, .Work-13, .Work-14,
	.Work-15, .Work-16, .Work-17, .Work-18, .Work-19, .Work-20, .Work-21, .Work-22, .Work-23, .Work-24, .Work-25, .Work-26, .Work-27, .Work-28,
	.Work-29, .Work-30, .Work-31, .Work-32, .Work-33, .Work-34, .Work-35, .Work-36, .Work-37, .Work-38, .Work1-Photo, .Work2-Photo, .Work3-Photo,
	.Work4-Photo, .Work5-Photo, .Work6-Photo, .Work7-Photo, .Work8-Photo, .Work9-Photo, .Work10-Photo, .Work11-Photo, .Work12-Photo, .Work13-Photo,
	.Work14-Photo, .Work15-Photo, .Work16-Photo, .Work17-Photo, .Work18-Photo, .Work19-Photo, .Work20-Photo, .Work21-Photo, .Work22-Photo,
	.Work23-Photo, .Work24-Photo, .Work25-Photo, .Work26-Photo, .Work27-Photo, .Work28-Photo, .Work29-Photo, .Work30-Photo, .Work31-Photo,
	.Work32-Photo, .Work33-Photo, .Work34-Photo, .Work35-Photo, .Work36-Photo, .Work37-Photo, .Work38-Photo {
		width: 350px;
		height: 438px;
	}

	.Work-1, .Work-3, .Work-5, .Work-7, .Work-9, .Work-11, .Work-13, .Work-15, .Work-17, .Work-19, .Work-21, .Work-23, .Work-25, .Work-27,
	.Work-29, .Work-31, .Work-33, .Work-35, .Work-37 {
		margin-left: 100px;
	}

	.Work-2, .Work-4, .Work-6, .Work-8, .Work-10, .Work-12, .Work-14, .Work-16, .Work-18, .Work-20, .Work-22, .Work-24, .Work-26, .Work-28,
	.Work-30, .Work-32, .Work-34, .Work-36, .Work-38 {
		margin-left: 565px;
	}

	.Work-1, .Work-2 {
		top: 200px;
	}

	.Work-3, .Work-4 {
		top: 688px;
	}

	.Work-5, .Work-6 {
		top: 1176px;
	}

	.Work-7, .Work-8 {
		top: 1654px;
	}

	.Work-9, .Work-10 {
		top: 2142px;
	}

	.Work-11, .Work-12 {
		top: 2630px;
	}

	.Work-13, .Work-14 {
		top: 3118px;
	}

	.Work-15, .Work-16 {
		top: 3606px;
	}

	.Work-17, .Work-18 {
		top: 4094px;
	}

	.Work-19, .Work-20 {
		top: 4582px;
	}

	.Work-21, .Work-22 {
		top: 5070px;
	}

	.Work-23, .Work-24 {
		top: 5558px;
	}

	.Work-25, .Work-26 {
		top: 6046px;
	}

	.Work-27, .Work-28 {
		top: 6534px;
	}

	.Work-29, .Work-30 {
		top: 7022px;
	}

	.Work-31, .Work-32 {
		top: 7510px;
	}

	.Work-33, .Work-34 {
		top: 7998px;
	}

	.Work-35, .Work-36 {
		top: 8486px;
	}

	.Work-37, .Work-38 {
		top: 8974px;
	}

	.Break-1 {
		top: 9800px;
	}

	.Contact {
		top: 9850px;
	}

	.Facebook-Logo {
		left: 3%;
		width: 90px;
		height: 76px;
	}

	.Instagram-Logo {
		left: 18%;
		width:70px;
		height:70px;
	}

	.Gmail-Logo {
		left: 33%;
		width:97px;
		height:70px;
	}

	.Dead-End {
		top: 10300px;
		height: 150px;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {

	#myLinks {
		display: none;
	}

	#myBtn {
		display: none;
	}

	.Header, .Header-effect {
		height: 180px;
	}

	.Logo {
		height: 130px;
		width: 130px;
		top: 10%;
	}

	.About-link, .Works-link, .Contact-link {
		top: 65px;
		font-size: 30px;
		width: 90px;
	}

	.About-link {
		left: 52%;
	}

	.Works-link {
		left: 66%;
	}

	.Contact-link {
		left: 80%;
	}

	.Works-Desc {
		top: 250px;
	}

	.Theme-Photo {
		width: 80%;
		height: 150px;
		left: 80px;
	}

	.Work-1, .Work-2, .Work-3, .Work-4, .Work-5, .Work-6, .Work-7, .Work-8, .Work-9, .Work-10, .Work-11, .Work-12, .Work-13, .Work-14,
	.Work-15, .Work-16, .Work-17, .Work-18, .Work-19, .Work-20, .Work-21, .Work-22, .Work-23, .Work-24, .Work-25, .Work-26, .Work-27, .Work-28,
	.Work-29, .Work-30, .Work-31, .Work-32, .Work-33, .Work-34, .Work-35, .Work-36, .Work-37, .Work-38, .Work1-Photo, .Work2-Photo, .Work3-Photo,
	.Work4-Photo, .Work5-Photo, .Work6-Photo, .Work7-Photo, .Work8-Photo, .Work9-Photo, .Work10-Photo, .Work11-Photo, .Work12-Photo, .Work13-Photo,
	.Work14-Photo, .Work15-Photo, .Work16-Photo, .Work17-Photo, .Work18-Photo, .Work19-Photo, .Work20-Photo, .Work21-Photo, .Work22-Photo,
	.Work23-Photo, .Work24-Photo, .Work25-Photo, .Work26-Photo, .Work27-Photo, .Work28-Photo, .Work29-Photo, .Work30-Photo, .Work31-Photo,
	.Work32-Photo, .Work33-Photo, .Work34-Photo, .Work35-Photo, .Work36-Photo, .Work37-Photo, .Work38-Photo {
		width: 250px;
		height: 312.5px;
	}

	.Work-1, .Work-3, .Work-5, .Work-7, .Work-9, .Work-11, .Work-13, .Work-15, .Work-17, .Work-19, .Work-21, .Work-23, .Work-25, .Work-27,
	.Work-29, .Work-31, .Work-33, .Work-35, .Work-37 {
		margin-left: 80px;
	}

	.Work-2, .Work-4, .Work-6, .Work-8, .Work-10, .Work-12, .Work-14, .Work-16, .Work-18, .Work-20, .Work-22, .Work-24, .Work-26, .Work-28,
	.Work-30, .Work-32, .Work-34, .Work-36, .Work-38 {
		margin-left: 440px;
	}

	.Work-1, .Work-2 {
		top: 200px;
	}

	.Work-3, .Work-4 {
		top: 563px;
	}

	.Work-5, .Work-6 {
		top: 926px;
	}

	.Work-7, .Work-8 {
		top: 1289px;
	}

	.Work-9, .Work-10 {
		top: 1652px;
	}

	.Work-11, .Work-12 {
		top: 2015px;
	}

	.Work-13, .Work-14 {
		top: 2378px;
	}

	.Work-15, .Work-16 {
		top: 2741px;
	}

	.Work-17, .Work-18 {
		top: 3104px;
	}

	.Work-19, .Work-20 {
		top: 3467px;
	}

	.Work-21, .Work-22 {
		top: 3830px;
	}

	.Work-23, .Work-24 {
		top: 4193px;
	}

	.Work-25, .Work-26 {
		top: 4556px;
	}

	.Work-27, .Work-28 {
		top: 4919px;
	}

	.Work-29, .Work-30 {
		top: 5282px;
	}

	.Work-31, .Work-32 {
		top: 5645px;
	}

	.Work-33, .Work-34 {
		top: 6008px;
	}

	.Work-35, .Work-36 {
		top: 6371px;
	}

	.Work-37, .Work-38 {
		top: 6734px;
	}

	.Break-1 {
		top: 7400px;
	}

	.Contact {
		top: 7450px;
		height: 300px;
	}

	.Facebook-Logo {
		left: 3%;
		width: 80px;
		height: 66px;
		top: 100px;
	}

	.Instagram-Logo {
		left: 18%;
		width:60px;
		height:60px;
		top: 100px;
	}

	.Gmail-Logo {
		left: 33%;
		width:87px;
		height:60px;
		top: 100px;
	}

	.Dead-End {
		display: none;
	}
}

@media (min-width: 425px) and (max-width: 767px) {

	#myBtn {
		display: none;
		left: 45%;
	}

	.Header, .Header-effect {
		height: 100px;
	}

	.Logo {
		height: 80px;
		width: 80px;
		top: 6%;
	}

	.About-link, .Works-link, .Contact-link {
		top: 35px;
		font-size: 20px;
		width: 50px;
	}

	.About-link {
		left: 50%;
	}

	.Works-link {
		left: 68%;
	}

	.Contact-link {
		left: 84%;
	}

	.Works-Desc {
		top: 170px;
	}

	.Theme-Photo {
		width: 80%;
		height: 120px;
		left: 43px;
	}

	.Work-1, .Work-2, .Work-3, .Work-4, .Work-5, .Work-6, .Work-7, .Work-8, .Work-9, .Work-10, .Work-11, .Work-12, .Work-13, .Work-14,
	.Work-15, .Work-16, .Work-17, .Work-18, .Work-19, .Work-20, .Work-21, .Work-22, .Work-23, .Work-24, .Work-25, .Work-26, .Work-27, .Work-28,
	.Work-29, .Work-30, .Work-31, .Work-32, .Work-33, .Work-34, .Work-35, .Work-36, .Work-37, .Work-38, .Work1-Photo, .Work2-Photo, .Work3-Photo,
	.Work4-Photo, .Work5-Photo, .Work6-Photo, .Work7-Photo, .Work8-Photo, .Work9-Photo, .Work10-Photo, .Work11-Photo, .Work12-Photo, .Work13-Photo,
	.Work14-Photo, .Work15-Photo, .Work16-Photo, .Work17-Photo, .Work18-Photo, .Work19-Photo, .Work20-Photo, .Work21-Photo, .Work22-Photo,
	.Work23-Photo, .Work24-Photo, .Work25-Photo, .Work26-Photo, .Work27-Photo, .Work28-Photo, .Work29-Photo, .Work30-Photo, .Work31-Photo,
	.Work32-Photo, .Work33-Photo, .Work34-Photo, .Work35-Photo, .Work36-Photo, .Work37-Photo, .Work38-Photo {
		width: 250px;
		height: 312.5px;
	}

	.Work-1, .Work-2, .Work-3, .Work-4, .Work-5, .Work-6, .Work-7, .Work-8, .Work-9, .Work-10, .Work-11, .Work-12, .Work-13, .Work-14,
	.Work-15, .Work-16, .Work-17, .Work-18, .Work-19, .Work-20, .Work-21, .Work-22, .Work-23, .Work-24, .Work-25, .Work-26, .Work-27, .Work-28,
	.Work-29, .Work-30, .Work-31, .Work-32, .Work-33, .Work-34, .Work-35, .Work-36, .Work-37, .Work-38 {
		margin-left: 88px;
	}

	.Work-1 {
		top: 200px;
	}

	.Work-2 {
		top: 593px;
	}

	.Work-3 {
		top: 986px;
	}

	.Work-4 {
		top: 1379px;
	}

	.Work-5 {
		top: 1772px;
	}

	.Work-6 {
		top: 2165px;
	}

	.Work-7 {
		top: 2558px;
	}

	.Work-8 {
		top: 2951px;
	}

	.Work-9 {
		top: 3344px;
	}

	.Work-10 {
		top: 3737px;
	}

	.Work-11 {
		top: 4130px;
	}

	.Work-12 {
		top: 4523px;
	}

	.Work-13 {
		top: 4916px;
	}

	.Work-14 {
		top: 5309px;
	}

	.Work-15 {
		top: 5702px;
	}

	.Work-16 {
		top: 6095px;
	}

	.Work-17 {
		top: 6488px;
	}

	.Work-18 {
		top: 6881px;
	}

	.Work-29 {
		top: 7274px;
	}

	.Work-20 {
		top: 7667px;
	}

	.Work-21 {
		top: 8060px;
	}

	.Work-22 {
		top: 8453px;
	}

	.Work-23 {
		top: 8846px;
	}

	.Work-24 {
		top: 9239px;
	}

	.Work-25 {
		top: 9632px;
	}

	.Work-26 {
		top: 10025px;
	}

	.Work-27 {
		top: 10418px;
	}

	.Work-28 {
		top: 10811px;
	}

	.Work-29 {
		top: 11204px;
	}

	.Work-30 {
		top: 11597px;
	}

	.Work-31 {
		top: 11990px;
	}

	.Work-32 {
		top: 12383px;
	}

	.Work-33 {
		top: 12776px;
	}

	.Work-34 {
		top: 13169px;
	}

	.Work-35 {
		top: 13562px;
	}

	.Work-36 {
		top: 13955px;
	}

	.Work-37 {
		top: 14348px;
	}

	.Work-38 {
		top: 14741px;
	}

	.Break-1 {
		top: 15300px;
	}

	.Contact {
		top: 15350px;
		height: 200px;
	}

	.Facebook-Logo {
		left: 5%;
		width: 70px;
		height: 56px;
		top: 90px;
	}

	.Instagram-Logo {
		left: 28%;
		width:50px;
		height:50px;
		top: 95px;
	}

	.Gmail-Logo {
		left: 51%;
		width:67px;
		height:50px;
		top: 95px;
	}

	.Dead-End {
		display: none;
	}
}

@media (min-width: 375px) and (max-width: 424px) {

	#myBtn {
		display: none;
		left: 45%;
	}

	.Header, .Header-effect {
		height: 100px;
	}

	.Logo {
		height: 80px;
		width: 80px;
		top: 6%;
	}

	.About-link, .Works-link, .Contact-link {
		top: 35px;
		font-size: 20px;
		width: 50px;
	}

	.About-link {
		left: 50%;
	}

	.Works-link {
		left: 68%;
	}

	.Contact-link {
		left: 84%;
	}

	.Works-Desc {
		top: 170px;
	}

	.Theme-Photo {
		width: 80%;
		height: 120px;
		left: 43px;
	}

	.Work-1, .Work-2, .Work-3, .Work-4, .Work-5, .Work-6, .Work-7, .Work-8, .Work-9, .Work-10, .Work-11, .Work-12, .Work-13, .Work-14,
	.Work-15, .Work-16, .Work-17, .Work-18, .Work-19, .Work-20, .Work-21, .Work-22, .Work-23, .Work-24, .Work-25, .Work-26, .Work-27, .Work-28,
	.Work-29, .Work-30, .Work-31, .Work-32, .Work-33, .Work-34, .Work-35, .Work-36, .Work-37, .Work-38, .Work1-Photo, .Work2-Photo, .Work3-Photo,
	.Work4-Photo, .Work5-Photo, .Work6-Photo, .Work7-Photo, .Work8-Photo, .Work9-Photo, .Work10-Photo, .Work11-Photo, .Work12-Photo, .Work13-Photo,
	.Work14-Photo, .Work15-Photo, .Work16-Photo, .Work17-Photo, .Work18-Photo, .Work19-Photo, .Work20-Photo, .Work21-Photo, .Work22-Photo,
	.Work23-Photo, .Work24-Photo, .Work25-Photo, .Work26-Photo, .Work27-Photo, .Work28-Photo, .Work29-Photo, .Work30-Photo, .Work31-Photo,
	.Work32-Photo, .Work33-Photo, .Work34-Photo, .Work35-Photo, .Work36-Photo, .Work37-Photo, .Work38-Photo {
		width: 250px;
		height: 312.5px;
	}

	.Work-1, .Work-2, .Work-3, .Work-4, .Work-5, .Work-6, .Work-7, .Work-8, .Work-9, .Work-10, .Work-11, .Work-12, .Work-13, .Work-14,
	.Work-15, .Work-16, .Work-17, .Work-18, .Work-19, .Work-20, .Work-21, .Work-22, .Work-23, .Work-24, .Work-25, .Work-26, .Work-27, .Work-28,
	.Work-29, .Work-30, .Work-31, .Work-32, .Work-33, .Work-34, .Work-35, .Work-36, .Work-37, .Work-38 {
		margin-left: 88px;
	}

	.Work-1 {
		top: 200px;
	}

	.Work-2 {
		top: 593px;
	}

	.Work-3 {
		top: 986px;
	}

	.Work-4 {
		top: 1379px;
	}

	.Work-5 {
		top: 1772px;
	}

	.Work-6 {
		top: 2165px;
	}

	.Work-7 {
		top: 2558px;
	}

	.Work-8 {
		top: 2951px;
	}

	.Work-9 {
		top: 3344px;
	}

	.Work-10 {
		top: 3737px;
	}

	.Work-11 {
		top: 4130px;
	}

	.Work-12 {
		top: 4523px;
	}

	.Work-13 {
		top: 4916px;
	}

	.Work-14 {
		top: 5309px;
	}

	.Work-15 {
		top: 5702px;
	}

	.Work-16 {
		top: 6095px;
	}

	.Work-17 {
		top: 6488px;
	}

	.Work-18 {
		top: 6881px;
	}

	.Work-29 {
		top: 7274px;
	}

	.Work-20 {
		top: 7667px;
	}

	.Work-21 {
		top: 8060px;
	}

	.Work-22 {
		top: 8453px;
	}

	.Work-23 {
		top: 8846px;
	}

	.Work-24 {
		top: 9239px;
	}

	.Work-25 {
		top: 9632px;
	}

	.Work-26 {
		top: 10025px;
	}

	.Work-27 {
		top: 10418px;
	}

	.Work-28 {
		top: 10811px;
	}

	.Work-29 {
		top: 11204px;
	}

	.Work-30 {
		top: 11597px;
	}

	.Work-31 {
		top: 11990px;
	}

	.Work-32 {
		top: 12383px;
	}

	.Work-33 {
		top: 12776px;
	}

	.Work-34 {
		top: 13169px;
	}

	.Work-35 {
		top: 13562px;
	}

	.Work-36 {
		top: 13955px;
	}

	.Work-37 {
		top: 14348px;
	}

	.Work-38 {
		top: 14741px;
	}

	.Break-1 {
		top: 15300px;
	}

	.Contact {
		top: 15350px;
		height: 200px;
	}

	.Facebook-Logo {
		left: 5%;
		width: 70px;
		height: 56px;
		top: 90px;
	}

	.Instagram-Logo {
		left: 28%;
		width:50px;
		height:50px;
		top: 95px;
	}

	.Gmail-Logo {
		left: 51%;
		width:67px;
		height:50px;
		top: 95px;
	}

	.Dead-End {
		display: none;
	}
}

@media (min-width: 320px) and (max-width: 374px) {

	#myBtn {
		display: none;
		left: 45%;
	}

	.Header, .Header-effect {
		height: 100px;
	}

	.Logo {
		height: 80px;
		width: 80px;
		top: 6%;
	}

	.About-link, .Works-link, .Contact-link {
		top: 38px;
		font-size: 15px;
		width: 34px;
	}

	.About-link {
		left: 50%;
	}

	.Works-link {
		left: 65%;
	}

	.Contact-link {
		left: 80%;
	}

	.Works-Desc {
		top: 170px;
	}

	.Theme-Photo {
		width: 80%;
		height: 120px;
		left: 43px;
	}

	.Work-1, .Work-2, .Work-3, .Work-4, .Work-5, .Work-6, .Work-7, .Work-8, .Work-9, .Work-10, .Work-11, .Work-12, .Work-13, .Work-14,
	.Work-15, .Work-16, .Work-17, .Work-18, .Work-19, .Work-20, .Work-21, .Work-22, .Work-23, .Work-24, .Work-25, .Work-26, .Work-27, .Work-28,
	.Work-29, .Work-30, .Work-31, .Work-32, .Work-33, .Work-34, .Work-35, .Work-36, .Work-37, .Work-38, .Work1-Photo, .Work2-Photo, .Work3-Photo,
	.Work4-Photo, .Work5-Photo, .Work6-Photo, .Work7-Photo, .Work8-Photo, .Work9-Photo, .Work10-Photo, .Work11-Photo, .Work12-Photo, .Work13-Photo,
	.Work14-Photo, .Work15-Photo, .Work16-Photo, .Work17-Photo, .Work18-Photo, .Work19-Photo, .Work20-Photo, .Work21-Photo, .Work22-Photo,
	.Work23-Photo, .Work24-Photo, .Work25-Photo, .Work26-Photo, .Work27-Photo, .Work28-Photo, .Work29-Photo, .Work30-Photo, .Work31-Photo,
	.Work32-Photo, .Work33-Photo, .Work34-Photo, .Work35-Photo, .Work36-Photo, .Work37-Photo, .Work38-Photo {
		width: 150px;
		height: 188px;
	}

	.Work-1, .Work-2, .Work-3, .Work-4, .Work-5, .Work-6, .Work-7, .Work-8, .Work-9, .Work-10, .Work-11, .Work-12, .Work-13, .Work-14,
	.Work-15, .Work-16, .Work-17, .Work-18, .Work-19, .Work-20, .Work-21, .Work-22, .Work-23, .Work-24, .Work-25, .Work-26, .Work-27, .Work-28,
	.Work-29, .Work-30, .Work-31, .Work-32, .Work-33, .Work-34, .Work-35, .Work-36, .Work-37, .Work-38 {
		margin-left: 85px;
	}

	.Work-1 {
		top: 150px;
	}

	.Work-2 {
		top: 388px;
	}

	.Work-3 {
		top: 626px;
	}

	.Work-4 {
		top: 776px;
	}

	.Work-5 {
		top: 926px;
	}

	.Work-6 {
		top: 1076px;
	}

	.Work-7 {
		top: 1578px;
	}

	.Work-8 {
		top: 1816px;
	}

	.Work-9 {
		top: 1904px;
	}

	.Work-10 {
		top: 2142px;
	}

	.Work-11 {
		top: 2380px;
	}

	.Work-12 {
		top: 2618px;
	}

	.Work-13 {
		top: 2856px;
	}

	.Work-14 {
		top: 3094px;
	}

	.Work-15 {
		top: 3332px;
	}

	.Work-16 {
		top: 3570px;
	}

	.Work-17 {
		top: 3808px;
	}

	.Work-18 {
		top: 4046px;
	}

	.Work-20 {
		top: 4284px;
	}

	.Work-21 {
		top: 4522px;
	}

	.Work-22 {
		top: 4760px;
	}

	.Work-23 {
		top: 4998px;
	}

	.Work-24 {
		top: 5236px;
	}

	.Work-25 {
		top: 5474px;
	}

	.Work-26 {
		top: 5712px;
	}

	.Work-27 {
		top: 5950px;
	}

	.Work-28 {
		top: 6188px;
	}

	.Work-29 {
		top: 6426px;
	}

	.Work-30 {
		top: 6664px;
	}

	.Work-31 {
		top: 6902px;
	}

	.Work-32 {
		top: 7140px;
	}

	.Work-33 {
		top: 7378px;
	}

	.Work-33 {
		top: 7616px;
	}

	.Work-34 {
		top: 7854px;
	}

	.Work-35 {
		top: 8092px;
	}

	.Work-36 {
		top: 8330px;
	}

	.Work-37 {
		top: 8568px;
	}

	.Work-38 {
		top: 8806px;
	}

	.Break-1 {
		top: 9044px;
	}

	.Contact {
		top: 15350px;
		height: 200px;
	}

	.Facebook-Logo {
		left: 5%;
		width: 70px;
		height: 56px;
		top: 90px;
	}

	.Instagram-Logo {
		left: 28%;
		width:50px;
		height:50px;
		top: 95px;
	}

	.Gmail-Logo {
		left: 51%;
		width:67px;
		height:50px;
		top: 95px;
	}

	.Dead-End {
		display: none;
	}
}